.inline-block {
  display: inline-block; }

.date {
  font-style: oblique;
  margin: 10px 0px;
  font-size: 16px; }

.middle {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right;
  margin-top: -30px;
  font-size: 20px;
  font-weight: normal; }

.center-right {
  text-align: center; }

.flex {
  display: flex;
  justify-content: center; }

h1 {
  text-align: center; }

.name {
  display: flex;
  justify-content: center; }

.divider {
  border: 1px solid black;
  width: 100%; }
