@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
html {
  width: 100%;
  height: 100vh; }

.center-right {
  text-align: center; }

.post-page {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }
  .post-page .link-to-home-page {
    font-size: 14px; }

.home-page {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }
  .home-page .splash-banner {
    display: flex;
    justify-content: center; }
    .home-page .splash-banner .text-container {
      display: inline-block; }
    .home-page .splash-banner .text {
      text-align: center; }
    .home-page .splash-banner .name {
      text-align: right;
      font-size: 20px;
      font-weight: normal; }

.divider {
  border: 1px solid black;
  width: 100%; }

#posts .date {
  font-style: oblique;
  margin: 10px 0px;
  font-size: 16px; }

h1 {
  text-align: center; }

.wrapper {
  margin-top: 10px;
  text-align: center; }
  .wrapper span {
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #000;
    font-size: 2em;
    transform: translate(0, 10%) rotate(4deg);
    animation: jump 2s ease-in-out infinite;
    display: inline-block;
    font-family: "Titan One", cursive;
    color: #000; }
    .wrapper span:nth-child(1) {
      animation-delay: 120ms; }
    .wrapper span:nth-child(2) {
      animation-delay: 240ms; }
    .wrapper span:nth-child(3) {
      animation-delay: 360ms; }
    .wrapper span:nth-child(4) {
      animation-delay: 480ms; }
    .wrapper span:nth-child(5) {
      animation-delay: 600ms; }
    .wrapper span:nth-child(6) {
      animation-delay: 720ms; }
    .wrapper span:nth-child(7) {
      animation-delay: 840ms; }
    .wrapper span:nth-child(8) {
      animation-delay: 960ms; }
    .wrapper span:nth-child(9) {
      animation-delay: 1080ms; }
    .wrapper span:nth-child(10) {
      animation-delay: 1200ms; }
    .wrapper span:nth-child(11) {
      animation-delay: 1320ms; }
    .wrapper span:nth-child(12) {
      animation-delay: 1440ms; }
    .wrapper span:nth-child(13) {
      animation-delay: 1560ms; }
    .wrapper span:nth-child(14) {
      animation-delay: 1680ms; }
    .wrapper span:nth-child(15) {
      animation-delay: 1800ms; }
    .wrapper span:nth-child(16) {
      animation-delay: 1920ms; }
    .wrapper span:nth-child(17) {
      animation-delay: 2040ms; }

@keyframes jump {
  33% {
    text-shadow: 0 10px #cad2de, 0 25px #b0b7c2; }
  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #81868f, 0 0px #56595e; }
  66.67% {
    text-shadow: 0 -10px #81868f, 0 -25px #2a2b2e; } }

@media screen and (max-height: 200px) {
  .wrapper {
    transform: scale(0.3, 0.3); } }

@media screen and (max-width: 576px) {
  .wrapper span {
    font-size: 20px; } }
