.center-right {
  text-align: center; }

.post-page {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }
  .post-page .link-to-home-page {
    font-size: 14px; }

.home-page {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto; }
  .home-page .splash-banner {
    display: flex;
    justify-content: center; }
    .home-page .splash-banner .text-container {
      display: inline-block; }
    .home-page .splash-banner .text {
      text-align: center; }
    .home-page .splash-banner .name {
      text-align: right;
      margin-top: -30px;
      font-size: 20px;
      font-weight: normal; }

.divider {
  border: 1px solid black;
  width: 100%; }

#posts .date {
  font-style: oblique;
  margin: 10px 0px;
  font-size: 16px; }

h1 {
  text-align: center; }
