<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>Adam Zakaria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">

  <link rel="stylesheet" href="/public/css/style.css">
  <script src='/public/js/script.js'></script>
</head>

<body>

<div class="post-page">
    <a class='link-to-home-page' href='/'>&#x2190 back to homepage</a>
    <h1 className='center-text'> !{blog_post_title} </h1>
    p !{blog_post_text}
</div>

<script>
</script>

</body>
</html>